@model SubscriptionIndexViewModel

@{
    ViewBag.Title = "Index Page";
}

<div class="container-fluid">
    <div class="float-right mt-4 mb-2">
        <a asp-controller="Subscriptions" asp-action="Create" class="btn btn-info">Create new</a>
    </div>
    @if (Model.SubscriptionList.Count > 0)
    {
        <table class="table table-responsive">
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Short Description</td>
                <td>Price</td>
                <td>Duration In Month</td>
                <td>Created At</td>
                <td>Action</td>
            </tr>
            @foreach (var category in Model.SubscriptionList)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@category.Description</td>
                    <td>@category.ShortDescription</td>
                    <td>@category.Price</td>
                    <td>@category.DurationInMonth</td>
                    <td>@category.CreatedAt.ToString("dd MM yyyy")</td>
                    <td>
                        <div class="form-group">
                            <input type="button" value="Edit" class="btn btn-success" />
                            <input type="button" value="Delete" class="btn btn-danger mt-2" />
                        </div>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div>
            <h4>No records found!</h4>
        </div>
    }

</div>
